---
title: false
styles: true
---

//Override fonts
$bodytype: (
  font-family: '"Open Sans", sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Open Sans", sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

.feature {
  max-width: 600px;
  margin: auto;
}


@import "alembic";


.content {
  @include breakpoint(break-1) {
    width: 80%;
  }
  @include breakpoint(break-2) {
    width: 62%;
  }
}